@using TasksTrackerService.WebConstants
@model TasksTrackerService.ViewModels.TasksViewModel

@{
    if (Model.UserRole == WebConstants.ManagerRole)
    {
        <h2>Все задачи</h2>
    }
    else
    {
        <h2>Мои задачи</h2>
    }
}

@if (Model.Tasks.Any())
{
    <table name="MainTable" class="table table-bordered table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.TaskId"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.TaskDescription"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Status"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Responsible"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Price"></label>
            </th>
            <th>
                <label class="align-middle">Завершить задачу</label>
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var obj in Model.Tasks)
        {
            <tr class="ta">
                <td class="w-10">@obj.TaskId</td>
                <td class="w-10">@obj.TaskDescription</td>
                <td class="w-10">@obj.Status</td>
                <td class="w-20">@obj.Responsible</td>
                <td class="w-20">@obj.Price</td>
                <td class="w-20">
                    @if (obj.Status != TasksStatuses.FinishedTaskStatus)
                    {
                        <form method="post" asp-route-id="@obj.TaskId" asp-action="FinishTask" asp-controller="Tasks" enctype="multipart/form-data">
                            <input style="margin: 5px" class="btn mx-2 w-60 bg-success" value="Завершить задачу" type="submit"/>
                        </form> 
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    if (Model.UserRole == WebConstants.ManagerRole || Model.UserRole == WebConstants.AdminRole)
    {
        <form method="post" asp-controller="Tasks" asp-action="AssignTasks">
            <input type="submit" value="Заассайнить задачи"/>
        </form>
    }
}
else
{
    <p>Нет задач</p>
}
<form method="get" asp-controller="Tasks" asp-route-email="@Model.UserEmail" asp-action="CreateTask">
    <input type="submit" value="Создать задачу"/>
</form>