@using TasksTrackerService.WebConstants
@model TasksTrackerService.ViewModels.TasksViewModel

@{
    if (Model.UserRole == WebConstants.ManagerRole)
    {
        <h2>Все активные задачи</h2>
    }
    else
    {
        <h2>Мои задачи</h2>
    }
}

@if (Model.Tasks.Any())
{
    <table name="MainTable" class="table table-bordered table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.TaskId"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.TaskDescription"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Status"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Responsible"></label>
            </th>
            <th>
                <label class="align-middle" asp-for="@Model.Tasks.FirstOrDefault()!.Price"></label>
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var obj in Model.Tasks)
        {
            <tr>
                <td class="w-10">@obj.TaskId</td>
                <td class="w-10">@obj.TaskDescription</td>
                <td class="w-10">@obj.Status</td>
                <td class="w-20">@obj.Responsible</td>
                <td class="w-20">@obj.Price</td>
            </tr>
        }
        </tbody>
    </table>
    if (Model.UserRole == WebConstants.ManagerRole)
    {
        <div class="col-7">
            <input style="margin: 5px" class="btn btn-primary" type="submit" value="Заассайнить задачи"/>
        </div>
    }
}
else
{
    <p>Нет задач</p>
}
<form method="get" asp-controller="Tasks" asp-route-email="@Model.UserEmail" asp-action="CreateTask">
    <input type="submit" value="Создать задачу"/>
</form>