@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AuthentificationService.ViewModels.UserViewModel

<h2>Изменить роль попуга</h2>

<div>
    <form method="post" asp-controller="Role" asp-action="ChangeRolePost">
        <div asp-validation-summary="ModelOnly"></div>

        <div style="margin: 10px">
            <label asp-for="@Model.UserId"></label>
            <label>: @Model.UserId</label>
        </div>
        <div style="margin: 10px">
            <label asp-for="@Model.UserName"></label>
            <label>: @Model.UserName</label>
        </div>
        <div style="margin: 10px">
            <label asp-for="@Model.UserEmail"></label>
            <label>: @Model.UserEmail</label>
        </div>
        <div style="margin: 10px">
            <label asp-for="@Model.CurrentRoleName"></label>
            <label>: @Model.CurrentRoleName</label>
        </div>
        <label style="margin: 10px">Доступные роли: </label>
        @{
            foreach (var role in Model.Roles)
            {
                <label>@role.Text; </label>
            }
        }
        <div style="margin: 10px">
            <label asp-for="@Model.SelectedUserRole"></label><br/>
            <input asp-for="@Model.SelectedUserRole" value="@Model.SelectedUserRole"/>
            <input hidden="hidden" asp-for="@Model.UserId"/>
        </div>
        <input style="margin: 10px" class="btn btn-primary mx-2" type="submit" value="Назначить роль"/>
    </form>

</div>